Bắn chết HLV vì không cho con thi đấu
Vụ việc xảy ra vào ngày 7/11, ở bang Oaxaca, miền nam Mexico. Trong một phút để cơn nóng giận che mờ lý trí, người đàn ông đã rút súng bắn năm phát vào người HLV bóng rổ của con mình, khiến ông này chết tại chỗ. Nạn nhân là Guillermo Audelo, HLV của CLB bóng rổ Dragones. Còn thủ phạm được xác định là Angelico Reyes, một ca sĩ nhạc narcocorridos. Guillermo Audelo, nạn nhân của vụ thảm kịch, đang làm HLV của CLB Dragones. Ảnh: Marca. Reyes có con gái đang theo học tại trung tâm đào tạo bóng rổ Dragones và được huấn luyện bởi Audelo. Thấy con gái không được thi đấu, Reyes đến hỏi tội HLV và dù đã hết lời giải thích với phụ huynh, Audelo vẫn bị bắn và gục xuống. Sự việc này diễn ra trước sự chứng kiến của rất nhiều trẻ em, những VĐV nhí đang chuẩn bị ra sân thi đấu tại một giải tổ chức trên sân Đại học Oaxaca. Reyes sau đó đã lên một chiếc taxi và bỏ trốn. Cảnh sát đang truy tìm tung tích của người đàn ông này. Di Khánh