Cô bé 8 tuổi tung cú đấm trời giáng lên khúc gỗ
Evnika Saadvakass không phải là một cô bé 8 tuổi bình thường, cô là một võ sĩ 8 tuổi. Federer - Seppi: Quý ông quyền lực (V2 Paris Masters) SAO Muay Thái chân không đá gãy 2 gậy bóng chày Võ sư Thiếu Lâm "trồng cây chuối" với 1 ngón tay Evnika Saadvakass có lẽ là cô bé 8 tuổi đáng gờm nhất mọi thời đại. Sinh ra trong một gia đình võ thuật ở Kazakhstan và có bố là một thầy dạy võ, Evnika đã tập võ từ năm 5 tuổi. Một sự so sánh hiển nhiên cần được tạo ra là giữa cô bé với nhà vô địch UFC Ronda Rousey, người vốn là một cựu VĐV Judo. Thậm chí mới đây tài khoản twitter của UFC đã đăng tải video về sức mạnh của cô bé này, khi cô có thể tung ra những cú đấm rất nhanh và uy lực, kể cả khi đấm vào cây.