Murray cắt bóng ảo diệu đẹp nhất Paris Masters
Trong 5 cú đánh bóng đẹp mắt nhất Paris Masters 2015 thì pha cắt bóng tuyệt đẹp của Andy Murray được bầu chọn là tình huống đẹp mắt nhất. Vô địch Paris Masters, Djokovic lập hàng loạt kỉ lục Djokovic - Murray: Sức mạnh áp đảo Chi tiết Djokovic – Murray: Không thể ngăn cản (KT) Danh sách 5 cú hot-shot tại Paris Masters: 5. Ferrer – Dolgopolov 4. Paire – Simon 3. Dimitrov – Cilic 2. Mayer – Gasquet 1. Murray - Gasquet