Bình luận viên ngủ ngáy giữa trận Real - PSG
Tình huống bi hài diễn ra ở phút 79 trận cầu Real Madrid - Paris Saint Germain thuộc lượt trận thứ tư vòng bảng Champions League giữa tuần qua. Dong Lu, 46 tuổi, được phân công bình luận trận này trên kênh LeTV, nhưng ông này đã ngủ gật và ngáy khò khò. Tiếng ngáy của Dong Lu nghe rõ mồn một trên sóng truyền hình. Khác biệt múi giờ giữa Madrid và Bắc Kinh được cho là nguyên nhân sâu xa khiến Dong Lu lâm vào tình huống tẽn tò này. Trận đấu diễn ra lúc 3h45 sáng theo giờ Bắc Kinh và vào thời điểm sự cố diễn ra đồng hồ đã điểm 5h sáng. Dong Lu đã không thắng được cơn buồn ngủ và sự mệt mỏi từ việc thức quá khuya. Ngay sau khi sự cố diễn ra, kênh LeTV đã sa thải Dong Lu. Dong Lu. Ảnh: CEN. Thừa Thiên