Massa "phiêu" cùng siêu xe của James Bond
Những cảnh quay hành động hấp dẫn cùng với siêu xe Jaguar C-X75 trong bộ phim Điệp viên 007 đã khiến tay đua Massa háo hức được trải nghiệm chiếc siêu xe này. Federer - Isner: Ám ảnh "máy giao bóng" (V3 Paris Masters) 1 đấu 4: Đả nữ "hạ đẹp" 4 chàng trai Nadal - Wawrinka: Trả giá vì sai lầm (TK Paris Masters) “Chiếc xe rất chắc chắn, siêu tốc độ và tạo ra cảm giác thú vị. Tôi rất tự hào khi được lái chiếc siêu xe của James Bond ngay tại thực địa, nơi thực hiện những cảnh quay mới nhất của bộ phim (Spectre)”, Massa chia sẻ cảm xúc. Và điều khá thú vị khi lái chiếc siêu xe này, Massa đã hát lên bài hát chủ đạo của bộ phim. Đây có lẽ là khoảnh khắc khá thú vị của tay đua công thức 1 tại Mexico. Video Massa lái thử siêu xe Jaguar C-X75 (Bản quyền thuộc VTV):