Muay Thái: Xoay người knock-out bằng khuỷu tay hiểm độc
Trong Muay Thái có rất nhiều kỹ năng ra đòn hiểm và đây là một tình huống như vậy. Võ sư Thiếu Lâm "trồng cây chuối" với 1 ngón tay Muay Thái: Trúng seri đòn gối, võ sĩ ngã ngửa khỏi sàn đấu Độc bá UFC, Rousey muốn vô địch Boxing và WWE