Tennis: Ôm bụng cười với cú smash tệ nhất năm
Nếu bầu chọn ra cú đánh tệ nhất 2015 thì đây là tình huống xứng đáng nhận số 1. SAO Muay Thái chân không đá gãy 2 gậy bóng chày Bóng bàn: Xoay 360 độ cứu bóng đẹp chưa từng thấy Siêu khỏe: Lực sĩ kéo xe tăng nặng 37 tấn Có lẽ ngay cả khi tưởng tượng VĐV Frances Tiafoe (Pháp) sẽ chẳng nghĩ mình lại đánh trượt một cú smash ngon ăn đến vậy. Tuy nhiên điều không tưởng đã diễn ra, Tiafoe đánh hụt một pha bóng dễ tại giải Charlottesville Challenger, qua đó tạo ra một tình huống chơi bóng tệ bậc nhất trong năm.