1 đấu 4: Đả nữ "hạ đẹp" 4 chàng trai
Không phải ai cũng có đủ sức để chiến đấu với một nữ võ sĩ UFC, ngay cả khi 4 chàng trai lần lượt đấu đả nữ nổi tiếng Miesha Tate phần thua vẫn thuộc về cánh mày râu. Tuyệt chiêu MMA: Đá phát... ngất luôn Pacquiao: Khổng lồ boxing, "nấm lùn" sân bóng rổ SAO Muay Thái chân không đá gãy 2 gậy bóng chày Một chàng trai bình thường không bao giờ đủ sức để thi đấu với một nữ võ sĩ, điều ấy không phải bàn, nhưng 4 người đàn ông có thì kết quả sẽ thế nào? Câu trả lời vẫn là không. Thử thách này được đưa ra với nữ võ sĩ nổi tiếng người Mỹ - Miesha Tate, từng giành chức vô địch thế giới hạng gà vào năm 2011, trong sự nghiệp cô thắng 17 và thua 5 lần (trong đó có 2 trận thua trước Ronda Rousey). Với một võ sĩ chuyên nghiệp như Miesha Tate việc cả 4 chàng trai lần lượt bị vật tơi bời rồi sợ hãi bỏ chạy trong lồng bát giác là điều không bất ngờ. * Video Miesha Tate khiến bốn chàng trai nhận thảm bại: