Boxing: Bị đấm nằm sàn vì cả gan hôn đối thủ
Không giống như những màn chào hỏi trước trận bình thường, võ sĩ chào đối thủ bằng một nụ hôn và nhận lại một cú đấm trời giáng. 171 tuần trên đỉnh: Djokovic còn xa Federer Võ sư Thiếu Lâm "trồng cây chuối" với 1 ngón tay Không chỉ đua hay, Hamilton còn đấu vật rất giỏi