Đội bóng Brazil vô địch BTV Cup
Các cầu thủ Bangu Atletico trong niềm vui nhận Cup vô địch. Ảnh: Đức Đồng. Trong trận chung kết diễn ra tối  15/11, các cầu thủ Sinh viên Hàn Quốc được đánh giá cao nhờ vào sức trẻ và một tập thể đồng đều, kỷ luật. Tuy nhiên, lối đá hoa mỹ, đậm tính ngẫu hứng và giàu kỹ thuật của Bangu Atletico cũng khiến đối thủ phải dè chừng. Hai đội bắt đầu cuộc rượt đuổi ngay những phút đầu tiên. Bangu Atketico mở tỷ số ngay phút thứ sáu. Nhưng, chỉ sáu phút sau Sim Minseop đã gỡ hoà 1-1 cho các chàng trai xứ Hàn. Phút 29 Bangu Atletico lại vượt lên dẫn trước nhưng đến phút 85, sinh viên Hàn Quốc gỡ hoà 2-2, buộc trận đấu phải bước vào hai hiệp phụ. Khi hiệp phụ thứ hai còn khoảng bốn phút, Sousa đã ghi bàn quý như vàng, giúp Bangu Atletico đưa Cup vô địch về xứ sở Samba. Ở trận tranh giải ba, Bình Dương thắng Sinh viên Nhật bản với tỷ số 3-0. Đức Đồng