Chelsea mua hụt Neymar hồi năm 2010
Neymar gia nhập sân Nou Camp hè 2013 với mức phí được công bố là 61 triệu đôla. Chelsea đã tiếp xúc hỏi mua Neymar từ trước cả Barca, nhưng đề nghị đến quá sớm và Santos đã từ chối. Nhưng trong cuốn hồi ký mới phát hành, cựu chủ tịch Ribeiro của CLB Santos cho biết Chelsea đã hỏi mua siêu sao tấn công này từ khi anh 18 tuổi và chỉ là tài năng mới được phát hiện ở quê nhà Brazil. Nhưng hồi đó lời đề nghị chuyển nhượng của CLB thành London đã bị từ chối. Khi đó các quan chức của Chelsea đã có cuộc gặp mặt trực tiếp với Neymar, bố anh và cả nhà môi giới nổi tiếng Pini Zahavi, tại New York, nơi tiền đạo này chuẩn bị ra mắt đội tuyển Brazil ở trận gặp Mỹ. Đây là hành động bị cựu lãnh đạo Santos đánh giá là trò "đi đêm" của đại gia bóng đá Anh. “Bọn họ đã dàn xếp một cuộc gặp bí mật giữa Neymar, bố cậu ta và người môi giới của Chelsea là Pini Zahavi ở New York”, Ribeiro kể lại sự việc. Nguyễn Phát